.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 24px * 3) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 16px;
}

.employees-photo {
}

.employees-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.job-title {
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    width: 264px;
    height: 428px;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
  }

  .team-list-item {
    width: 264px;
    height: 428px;
  }
}
